body{
    background-color: #263238;

}
h1{
    color: #fff;
}
table{
    width: 400px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;

}

td{
    width: 10%;
    height: 5%;
    background-color: #455a64;
}

.i{
    background-color: #00bcd4;
}
.o{
    background-color: #ffeb3b;
}
.t{
    background-color: #9c27b0;
}
.s{
    background-color: #4caf50;
}
.z{
    background-color: #f44336;
}
.j{
    background-color: #2196f3;
}
.l{
    background-color: #ff9800;
}